.NavBar {
  background-color: var(--main-bg-color);
  align-items: center;
  padding: 15px 15px;
  border-bottom: 0.5px solid var(--border-color);
  display: flex;
  justify-content: space-between;
  top: 0;
  height: var(--NavBar-height);
  width: 100vw;
  box-sizing: border-box;
  position: fixed;
}

.NavBarLeft {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.NavBar ul {
  display: flex;
  flex-direction: row;
  margin: 0px 20px;
  padding: 0;
  list-style: none;
}

.NavBarItem {
  padding: 15px 20px;
  color: var(--main-text-color);
  text-decoration: none;
  transition: color 0.2s;
  display: inline-block;
}

.NavBarItem span {
  position: relative;
  display: flex;
  transform: translateY(0);
  opacity: 1;
  display: inline-block;
}

.NavBarItem span::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: var(--hover-text-color);
  transition: width 0.2s;
}

.NavBarItem:hover span::after {
  width: 100%;
}

.NavBarItem:hover {
  color: var(--hover-text-color);
}


.NavBar h2 {
  margin: 0px;
  margin-left: 10px;
  color: var(--main-text-color);
  text-decoration: none;
  padding: 10px 20px;
  padding-top: 5px;
  align-items: center;
  transition: color 0.2s;

}

#HomePage {
  text-decoration: none;
  padding: 0px;
  transition: color 0.2s;
}

#HomePage :hover {
  color: var(--hover-text-color);
}

#githubIcon {
  /* flex-direction: row-reverse; */
  opacity: 1;
  filter: var(--filter-main);
  transition: filter 0.2s;
}

#githubIcon:hover {
  filter: none;
}

.hamburger {
  display: none;
  background: none;
  border: none;
  align-items: center;
  font-size: 2rem;
  cursor: pointer;
}

.HamburgerIcon.active {
  stroke: var(--hover-text-color);
  transition: stroke 0.2s;
}

.NavBar ul {
  display: flex;
  flex-direction: row;
  margin: 0px 20px;
  padding: 0;
  list-style: none;
}

.nav-links {
  display: none;
  flex-direction: column;
}

@media (max-width: 600px) {

  .NavBar h2 {
    white-space: nowrap;

  }

  .NavBar ul {
    display: none;
    flex-direction: column;

  }

  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: var(--NavBar-height);
    right: 0;
    background: var(--main-bg-color);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  }

  .nav-links.show {
    margin:0;
    left:0;
    display: flex;
  }

  .hamburger {
    display: block;
    left: 0px;
    justify-content: space-around;
  }
}

.HamburgerIcon {
  width: 24px;
  height: 24px;
  stroke: var(--main-text-color);
  transition: stroke 0.2s;
  /* <-- Move transition here */
}